

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pageContainer{
  border: 1px solid #ddd;
  margin-top:15px;
}

.heading{
  background: #a6bad2;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.contentSection{
  padding: 15px;
}

.form-group{
  margin-bottom: 15px;
}
.inputSection{
  border-bottom: 1px solid #ddd;
}
#seatArrangements{
  padding: 10px;
}

.cell{
  display: inline-block;
  padding: 10px;
  border: 5px solid #fff;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
}
.sectionContainer{
  display: inline-block;
  vertical-align: top; 
  padding: 10px;
}
.sectionDiv{
  padding: 10px;
  border: 1px solid #ddd;
}